name: GPG

on:
  push:
    branches:
     - master
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    # timeout-minutes: 20
    # permissions:
    #   contents: read
    #   packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: setup gpg
      uses: ./.github/actions/setup-gpg
      with:
        kids: ${{ env.GPG_KEY_IDS }}

    - name: Test verify
      run: |
        git fetch 
        git tag -v v0.2.0
