name: GPG

on:
  push:
    branches:
     - master
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GPG_KEY_IDS: 68D1F79834E9EEE8DBA70F5E9682378BBACEEDD1
    # timeout-minutes: 20
    # permissions:
    #   contents: read
    #   packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # - name: setup gpg
    #   uses: ./.github/actions/setup-gpg
    #   with:
    #     kids: ${{ env.GPG_KEY_IDS }}

    # - name: Test verify
    #   run: |
    #     gpg --list-secret-keys --keyid-format=long
    #     git fetch --all --tags
    #     git tag
    #     git tag -v v0.2.0

    - name: Check gpg signature
      run: |
        echo 'ref: ${{ github.ref }}''
        tree .git/refs/
        echo fetch
        git fetch --tags
        tree .git/refs/
        kids=${{ env.GPG_KEY_IDS }}
        log=$(git log tags/v0.3.0 --show-signature)
        [[ $log =~([0-9A-F]{40}) ]] && fingerprint=${BASH_REMATCH}

        if [[ " ${kids[*]} " == " ${fingerprint} " ]]; then
          echo 'true'  
        else
          echo 'false'
        fi

