name: Semver

on:
  push:
    branch:
     - master

# concurrency:
#   group: ${{ env.GITHUB_REF_NAME }}
#   cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    # timeout-minutes: 20
    # permissions:
    #   contents: read
    #   packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      # with:
      #   submodules: true
      #   lfs: true
      #   token: ${{ secrets.GH_USER_SWAG_BOT }}

    # - name: Setup
    #   id: config
    #   run: |
    #     NPROC=$(nproc)

    #     echo "NPROC=$NPROC" >> $GITHUB_ENV
    #     echo "::set-output name=NPROC::$NPROC"

    #     [[ $GITHUB_REF =~ ^refs\/(tags\/|heads\/(master|release|hotfix)$) ]] && echo "::set-output name=push-to-registry::true" || true

    - name: Setup npm
      uses: actions/setup-node@v2
      with:
        node-version: '14'
        # cache: 'npm'

    # - name: Install Auto
    #   run: |
    #     apt-get update
    #     apt-get get install -y wget
    #     wget https://github.com/intuit/auto/releases/download/v10.32.5/auto-linux.gz

    - name: Setup Auto
      run: |
        yarn global add auto
        auto --help
        auto info
        auto create-labels

    # - name: Setup - buildx
    #   uses: docker/setup-buildx-action@v1

    # - name: Setup - Google Artifact Registry
    #   uses: docker/login-action@v1
    #   if: ${{ steps.config.outputs.push-to-registry }}
    #   with:
    #     registry: asia-docker.pkg.dev
    #     username: _json_key
    #     password: ${{ secrets.GOOGLE_SA_GCR_JSON }}

    # - name: Setup - Github Container Registry
    #   uses: docker/login-action@v1
    #   if: ${{ steps.config.outputs.push-to-registry }}
    #   with:
    #     registry: ghcr.io
    #     username: ${{ github.actor }}
    #     password: ${{ secrets.GITHUB_TOKEN }}

    # - name: Setup - Docker image metadata
    #   id: meta
    #   uses: docker/metadata-action@v3
    #   with:
    #     images: |
    #       ghcr.io/${{ github.repository }}
    #       asia-docker.pkg.dev/swag-2c052/${{ github.repository }}
    #     tags: |
    #       type=ref,event=branch
    #       type=ref,event=tag
    #       type=sha

    # - name: Build
    #   uses: docker/build-push-action@v2
    #   with:
    #     context: .
    #     push: ${{ steps.config.outputs.push-to-registry == 'true' }}
    #     labels: ${{ steps.meta.outputs.labels }}
    #     tags: ${{ steps.meta.outputs.tags }}
    #     build-args: |
    #       MAKEFLAGS=-j${{ env.NPROC }}
    #     cache-from: type=gha
    #     cache-to: type=gha,mode=max
